<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - V-SPORT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CMS.Backend.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-4 py-3">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold text-white fs-4" asp-area="" asp-controller="Home" asp-action="Index">🚀 V-SPORT Admin</a>
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 ms-4 align-items-center">
                        <li class="nav-item">
                            <a class="nav-link text-white-50 px-3 fs-6" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white-50 px-3 fs-6" asp-area="" asp-controller="Category" asp-action="Index">📁 Danh mục</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white-50 px-3 fs-6" asp-area="" asp-controller="Post" asp-action="Index">📝 Bài viết</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white-50 px-3 fs-6" asp-area="" asp-controller="User" asp-action="Index">👥 Thành viên</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-light py-3 mt-5">
        <div class="container text-center text-md-start">
            &copy; 2026 - <strong>Trường Cao đẳng Công Thương TP.HCM</strong>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
